@font-face {
	font-family: "Rig Bold Coarse";
	src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/Rig-BoldCoarse.otf");
}

@font-face {
	font-family: "Rig Bold Extrude";
	src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/Rig-BoldExtrude.otf");
}

@font-face {
	font-family: "Rig Bold Shadow";
	src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/Rig-BoldShadow.otf");
}

@font-face {
	font-family: "Rig Bold Face";
	src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/Rig-BoldFace.otf");
}

@font-face {
	font-family: "Rig Bold Inline";
	src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/Rig-BoldInline.otf");
}

@import url("https://fonts.googleapis.com/css?family=Fredoka+One");
